.chat-main
   .chat-main__group-info
      .info__left-box
         .box__group 
            =@group.name
         .box__member 
            membar:
            %ul
               - @group.users.each do |user|
                  %li= user.nickname
      =link_to edit_group_path(@group), class: "info__edit-btn" do
         .info__edit-btn Edit 
            
   .main__message-list
      = render @messages
      .message__box
      
         -# う.message__info
         -#    =render @messages
            
            
         -#    .user__name 水野
         -#    .user__date 2019/12/31(Thu)10:56:00
         -# .message__text おはよう
         -# .message__info
            
         -#    .user__name 水野
         -#    .user__date 2019/12/31(Thu)10:56:00
         -# .message__text おはよ
   .main_messageform 
      
      
      .form__message
         = form_for [@group, @message] do |f|
            = f.text_field :text, class: 'form__message', placeholder: 'type a message'
            .image__icon
               = f.label :image, class: 'form__mask__image' do
                  = icon('fas', 'image', class: 'icon')
                  = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'   

