.side-bar
   .side-bar__user_name
      = current_user.nickname
      .side-bar__top-items
         .side-bar__top-items__name
         .side-bar__top-items__icon
            .icon__left
               = link_to new_group_path , class: "contents__btn" do
                  = icon('fas', 'edit')
            .icon__right
               = link_to edit_user_path(current_user), class: "contents__btn" do
                  =icon('fas', 'cog')
   .side-bar__group-List
      - current_user.groups.each do |group|
         .group
            = link_to group_messages_path(group) do
               .group__name
                  = group.name
               .group__message
                  = group.show_last_message